<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Toolkit</title>
        <meta name="title" content="Toolkit">
        <meta name="description" content="About page for Mat B, owner of Weak Notes at thechels.uk | Weak Notes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <meta name="format-detection" content="address=no">
        <meta name="HandheldFriendly" content="True">
        <meta name="theme-color" content="#005CA3">
        <meta name="robots" content="index,follow">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-touch-fullscreen" content="yes">
        <meta name="apple-mobile-web-app-title" content="Mat B">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="default">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <div id="outer-wrapper">
            <div id="wrapper">
                <h1>Toolkit</h1>