<nav>
    <ul>
        <li><a href="image-to-svg.html">Image to SVG Converter</a></li>
        <li><a href="pomodoro.html">Pomodoro</a></li>
        <li><a href="extract-urls.html">Extract Urls</a></li>
        <li><a href="github-issue.html">GitHub Issue</a></li>
        <li><a href="qr.html">QR decoder</a></li>
        <li><a href="writing-style.html">Writing Style</a></li>
        <li><a href="yaml-explorer.html">Yaml Explorer</a></li>
    </ul>
</nav>

<nav id="submenu" class="blog-menu">
    <ul>
        {% assign sorted_pages = site.pages | sort:
        'title' %} {% for item in sorted_pages %}
        <li>/ <a href="{{item.link}}">{{item.title}}</a></li>
        {% endfor %}
    </ul>
</nav>