{% include header.html %}

<h1 class="post-title">{{ page.title }}</h1>
<script src="_js/js-yaml.min.js"></script>

<div class="panel">
  <label for="jsonInput">JSON Input</label>
  <textarea id="jsonInput" placeholder="Paste your JSON here..."></textarea>
  <div id="error" class="error"></div>
</div>

<div class="panel">
  <button id="processButton">Process JSON</button>
</div>

<div class="panel">
  <div class="output-section">
    <div class="output-header">
      <label>Pretty Print JSONL</label>
      <button data-copy="block">Copy</button>
    </div>
    <textarea id="flowOutput" readonly></textarea>
  </div>

  <script type="module">
    const processButton = document.getElementById('processButton');
    const jsonInput = document.getElementById('jsonInput');
    const flowOutput = document.getElementById('flowOutput');
    const errorDiv = document.getElementById('error');

    processButton.addEventListener('click', () => {
      try {
        const json = JSON.parse(jsonInput.value);
        flowOutput.value = JSON.stringify(json, null, 2);
        errorDiv.textContent = '';
      } catch (e) {
        flowOutput.value = '';
        errorDiv.textContent = 'Invalid JSON';
      }
    });



    jsonInput.addEventListener('input', () => {
      try {
        const json = JSON.parse(jsonInput.value);
        flowOutput.value = JSON.stringify(json, null, 2);
        errorDiv.textContent = '';
      } catch (e) {
        flowOutput.value = '';
        errorDiv.textContent = 'Invalid JSON';
      }
    });

    jsonInput.value = `{
  "models": [
    {
      "provider": "gemini",
      "model_id": "gemini-1.5-flash",
      "tiers": [
        {
          "max_tokens": 128000,
          "input_cost": 7,
          "output_cost": 30
        }
      ]
    }
  ]
}`
  </script>

  {% include footer.html %}