{% include header.html %}

<h1 class="post-title">{{ page.title }}</h1>

<input type="text" id="inputString" placeholder="Enter text to reverse">
<br>
<button onclick="reverseString()">Reverse Text</button>
<br>
<input type="text" id="outputString" readonly placeholder="Reversed text will appear here">

<script>
    function reverseString() {
        var input = document.getElementById('inputString').value;
        var reversed = input.split('').reverse().join('');
        document.getElementById('outputString').value = reversed;
    }
</script>

{% include footer.html %}